@{
    ViewBag.Title = "Session expired...";
}
<meta http-equiv="refresh" content="5;url=/Home/Index"/>

<h2>Sorry, your session has expired. You will be redirected to the home page in 5 seconds...</h2>
